<ng-container *ngIf="clicked === false">
    <div class="main" >
        <div class="mainContent">
            <div class="punkHighlight" >
                <div class="punkContainer">
                    <img class="selectedPunk" src="assets/preview.png" alt="selectedPunk img">
                </div>
            </div>
            <div class="punkDetails">
                <div class="lol">
                    <div class="title">RAZE PUNK</div>
                    <span class="itemNumber">.# 1</span>
                </div>
                <div class="owner">
                    <div class="ownerImageContainer">
                        <img src="assets/assets/eth.png" alt="">
                    </div>
        
                    <div class="ownerDetails">
                        <div class="ownerNameAndHandel">
                            <div>
                                0x87FBeac160eEa9e296282bDE107ea5f545c5DE25
                            </div>
                            <div class="ownerHandle">@Akash G G</div>
                        </div>
                        <div class="ownerLink">
                            <a href="https://www.instagram.com/hemanth_g_g/">
                                <img src="assets/assets/owner/instagram.png" alt="insta logo">
                            </a>
                        </div>
                        <div class="ownerLink">
                            <a href="https://twitter.com/HGirimath"><img src="assets/assets/owner/twitter.png" alt="twitter logo"></a>
                            
                        </div>
                        <div class="ownerLink">
                            <a href=""><img src="assets/assets/owner/more.png" alt="owner Link"></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-container>

<ng-container *ngIf="clicked === true">
    <div class="main" >
        <div class="mainContent">
            <div class="punkHighlight" >
                <div class="punkContainer">
                    <img class="selectedPunk" src ="{{getURL()}}" alt="selectedPunk" img>
                </div>
            </div>
            <div class="punkDetails">
                <div class="lol">
                    <div class="title">{{getName()}}</div>
                    <span class="itemNumber">.# {{nftId?.token_id}}</span>
                </div>
                <div class="owner">
                    <div class="ownerImageContainer">
                        <img src="assets/assets/eth.png" alt="">
                    </div>
        
                    <div class="ownerDetails">
                        <div class="ownerNameAndHandel">
                            <div>{{nftId?.owner_of}}</div>
                            <div class="ownerHandle">@Hemanth G G</div>
                        </div>
                        <div class="ownerLink">
                            <a href="https://www.instagram.com/hemanth_g_g/">
                                <img src="assets/assets/owner/instagram.png" alt="insta logo">
                            </a>
                          
                        </div>
                        <div class="ownerLink">
                            <a href="https://twitter.com/HGirimath"><img src="assets/assets/owner/twitter.png" alt="twitter logo"></a>
                        </div>
                        <div class="ownerLink">
                            <a href=""><img src="assets/assets/owner/more.png" alt="owner Link"></a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</ng-container>