.btn{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
   
    button{
        border-radius: 50px;
        padding: 20px;
        background: linear-gradient(to right, #59f9b7, #66feea);
        color: black;
        width: 200px;
        text-transform: uppercase;
    }
}