<div class="container">
    <div class="container__logo">
        <img src="assets/assets/header/cryptopunk-logo.png" alt="">
    </div>
    <div class="container__navbar"><input type="text">
         <div class="serach"><mat-icon>search</mat-icon></div>
    </div>
    <div class="container__navItems">
        <ul>
            <li>Drop</li>
            <li>Market Place</li>
            <li>Create</li>
        </ul>
    </div>
    <div class="container__btn">
        <button>{{walletAddress?.substring(0,4)}}....{{walletAddress?.substring(38,42)}}</button>
    </div>
</div>